@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Ẩn thanh cuộn nhưng vẫn có thể cuộn */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Tùy chỉnh thanh cuộn */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Độ rộng */
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b7280; /* Màu thanh trượt */
    border-radius: 4px; /* Bo tròn */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #e5e7eb; /* Màu nền */
  }
}
